body{
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
}

.dark{
    background-color: #101010;
}

nav.dark .icons img{
    filter: brightness(0) invert(1);
}

nav.bottombar ul li a, nav.topbar ul li a{
    padding: .7rem 1rem .7rem 1rem;
    border-right: none;
}

nav.bottombar ul li a:hover, nav.topbar ul li a:hover{
    background: #272727;
}